{% block content %}
{% include "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}
<body>
    <div class="about_heading">
        <h1> About Our Booking System </h1>
    </div>
    <div class="about_content">
        <p>Aj-Travel's, we are providing car, bus and train booking in an  single online booking
            system for your convinence and better user experience. It's our first version to be launched.
            If there's any bug, it'll be rectified and updated soon. The site is always allowed to testing
            and for Bug Hunting.
        </p>
    </div>
</body>
{% endblock %}
</html>